# Array & List

In [1]:
city_0 = "Karachi"
city_1 = "Lahore"
city_2 = "Quetta"
city_3 = "Marree"
city_4 = "Punjab"

print("Welcome to " + city_3)

Welcome to Marree

In [2]:
cities = ["Karachi", "Lahore", "Quetta" , "Marree", "Punjab"]
print('Welcome to', cities[0])
print(cities[1])

Welcome to Karachi
Lahore

In [14]:
mixed_things = [1, "Bob", "Now is"]
#type(mixed_things)
#print(mixed_things[1])
#print(type(mixed_things[0]))
#0 in mixed_things
#1 in mixed_things
#"Bob" in mixed_things
#"We" in mixed_things
mixed_things.index('Now is')

2

In [15]:
numbers = list(range(1,10))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
#2 is called step
#even_numbers = list(range(1,20,2))
even_numbers = list(range(1,10,2))
#even_numbers = list(range(11,2,-1))
print(even_numbers)

[1, 3, 5, 7, 9]

# List: Adding & Changing Element

In [29]:
cities = ["Karachi", "Lahore", "Quetta" , "Marree", "Punjab"]
cities.append("Pindi")
print(cities)
cities.insert(2,"Multan")
print(cities)
cities.insert(15,"abc")
print(cities)
cities.append("xyz")
print(cities)
cities.index('abc')

['Karachi', 'Lahore', 'Quetta', 'Marree', 'Punjab', 'Pindi']
['Karachi', 'Lahore', 'Multan', 'Quetta', 'Marree', 'Punjab', 'Pindi']
['Karachi', 'Lahore', 'Multan', 'Quetta', 'Marree', 'Punjab', 'Pindi', 'abc']
['Karachi', 'Lahore', 'Multan', 'Quetta', 'Marree', 'Punjab', 'Pindi', 'abc', 'xyz']

7

In [32]:
#replace function
cities = ["Karachi", "Lahore", "Quetta" , "Marree", "Punjab"]
cities[4] = 'pqr'
print(cities)

['Karachi', 'Lahore', 'Quetta', 'Marree', 'pqr']

In [33]:
today_tasks = ['Sheep']
today_tasks = today_tasks + ["Walk dog", "Buy Groceriess"]
print(today_tasks)

['Sheep', 'Walk dog', 'Buy Groceriess']

In [37]:
x = [1,2,3,4]
y = x
y
y.append(9)
print(y)
print(x)

[1, 2, 3, 4, 9]
[1, 2, 3, 4, 9]

In [40]:
#Copy list into another varible
x = [1,2,3,4]
y = x[:]
print(y)
y.append(9)
print(y)
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 9]
[1, 2, 3, 4]

# List: Taking Slices out of them

In [41]:
cities = ["Karachi", "Lahore", "Quetta" , "Marree", "Punjab", "Pindi"]
new_cities = cities[1:3]
new_cities

['Lahore', 'Quetta']

In [42]:
smaller_list_of_cities = cities [2:5]
smaller_list_of_cities

['Quetta', 'Marree', 'Punjab']

In [55]:
new_list = list(range(1,20))
print(new_list)
#smaller_list = new_list[-10 : -1]
#smaller_list = new_list[-10 : -6]
#smaller_list = new_list[5 : 30]
smaller_list = new_list[-10 : 6]
smaller_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[]

In [59]:
#fetch all list starting form 2 till end
print (cities)
smaller_list_of_cities = cities [2:]
smaller_list_of_cities

['Karachi', 'Lahore', 'Quetta', 'Marree', 'Punjab', 'Pindi']

['Quetta', 'Marree', 'Punjab', 'Pindi']

# List: Delete and Removing Values

In [64]:
tasks = ['Email Frank', 'Call Sarah', 'Meet with Zach']
del tasks[0]
tasks.remove("Call Sarah")
tasks

['Meet with Zach']

In [63]:
tasks1 = ['Email Frank', 'Call Sarah', 'Meet with Zach']
tasks1.remove("Call Sarah")
tasks1

['Email Frank', 'Meet with Zach']

In [65]:
tasks2 = ['Email Frank', 'Call Sarah', 'Meet with Zach']
tasks2.remove("Call Farhan")
tasks2

ValueError: list.remove(x): x not in list

In [78]:
friends = ['Ali', 'Hamza', 'Junaid', 'Umer', 'Usama', 'Fahad', 'Usman', 'Salman']
friends2 = ['Ali', 'Hamza', 'Junaid', 'Umer', 'Usama', 'Fahad', 'Usman', 'Salman']
close_friends = ['Usama', 'Junaid', 'Hamza']
for x in friends2:
    if x in close_friends:
        continue
    else:
        friends.remove(x)
friends

['Hamza', 'Junaid', 'Usama']