# CHAPTER 2 - VARIABLES FOR STRING

In [12]:
f_name = "Owais Kazmi"
name = 'Owais Kazmi1'
_fname = 'Owais'
print(_fname)
#print (f_name)

Owais

In [7]:
a = 10
b = 10.5
type (a)
#type (b)

int

In [8]:
a = "Python"
type (a)

str

In [9]:
b = 40
id (b)

2012967200

In [13]:
print(f_name)

Owais Kazmi

Variable for Numbers

In [22]:
ali = 125

In [23]:
umer = 25

In [24]:
mangoes = 10

In [25]:
mangoes + 10

20

In [26]:
new_mangoes_sum = mangoes + 10
print(new_mangoes_sum)

20

In [28]:
age_of_umer_ali = ali + umer
#print(age_of_umer_ali)
print(ali + umer)

150

In [29]:
height = 25
width = 50
summation = height + width
print(height + width)

75

In [38]:
a = 5
b = 10.5
sum = a + b
print(sum)
print(type(a))
print(type(b))
b = a
#a = b
print (b)
type (b)

15.5
<class 'int'>
<class 'float'>
5

int

In [43]:
b = 5.0
print(id(b))
a = 10
b = a
print (id(a))
print (id(b))
print(b)

611705908416
2012966240
2012966240
10

In [47]:
first_prime_num = 2
first_odd_num = '1'
take_sum = str(first_prime_num) + first_odd_num
print (take_sum)
print (type(take_sum))

21
<class 'str'>

In [53]:
#a = 'apple'
a = '100'

print(int(a))
print(type(a))

b = int(a)
type(b)

100
<class 'str'>

int

Expression - Fimiliar Operators

In [63]:
marks = 0
a = 70
b = 100
#marks = a / b
marks = b / a
print(marks)
print(int(marks))

1.4285714285714286
1